@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">我是黎深 Akso新外科醫生</h1>
    <img src="img/20231101141637_29745.jpg"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>